.container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 1;
}

.header {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #0f1763;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}

.listItem {
  padding: 3px 7px;
  display: flex;
  align-items: center;
}

.listItem:hover {
  background-color: #62696e;
}

.openBtn {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 3px 5px;
  flex: 1;
  text-align: left;
  cursor: pointer;
}

.listItem:hover > .openBtn {
  color: #fff;
}

.controls {
  align-items: center;
  display: none;
  padding: 0 10px;
}

.listItem:hover > .controls {
  display: flex;
}

.controlBtn {
  background-color: transparent;
  outline: none;
  border: none;
  width: 16px;
  height: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.controlBtn:first-child {
  padding-left: 0;
}

.svg {
  fill: #fff;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.editSlide {
  max-height: 0;
  transition: max-height 0.3s linear;
}

.editSlide.open {
  max-height: 250px;
}

.editBody {
  margin: 5px;
  border: 1px solid #690808;
  border-radius: 4px;
  padding: 15px;
}

.editHeader {
  color: #690808;
}

.editInput {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
}

.editControls {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.editBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 15px;
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: underline;
}

.editBtn:first-child {
  margin-left: 0;
}

.editBtn.red {
  color: #990808;
}

.editBtn.green {
  color: rgb(6, 59, 6);
}
