.container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.header {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #0f1763;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px dotted #eee;
}
