html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.clip {
  position: absolute;
  -webkit-clip-path: circle(1px);
          clip-path: circle(1px);
  color: transparent;
  background-color: transparent;
  overflow: hidden;
  bottom: 0;
  right: 0;
}

.pre-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
